/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */







 ::selection { /*highlighting system */
   color: white;
   background: green;
 }


 /* nav bar */
 .head {
   left:0;
   top:0;
   text-align: center;
   background-color: #fafafa;
   font-size: 30px;
   border-radius:0px;
 }
 #home {
   text-align:right;
   width:200px;
 }
 #waste {
   width:150px;
   text-align:right;
 }
 #about {
   width:150px;
   text-align:right;
 }
 .butn {
   border: solid green;
   border-width: thin;
   background-color: green;
   color:white;
   padding: 10px 30px;
   cursor: pointer;
   display: inline-flex;
   font-size: 20px;
   text-align: center;
   width:auto;
   }


 .butn:hover {
   background-color: inherit;
   color: green;
   }
 .bttn {
   border: solid green;
   border-width: thin;
   background-color: inherit;
   padding: 10px 30px;
   cursor: pointer;
   display: inline-flex;
   font-size: 20px;
   text-align: center;
   width:auto;
   }
 .bttn:hover {
   background: green;
   color: white;
   }
 .bttn:active{
   background: green;
   color:white;
   }
 .logo{
    border:none;
    background-color: inherit;
    margin-left: 50px;
    vertical-align:middle;
   }



nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 200px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
#why{
  height:260px;
}

  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  height:300px;
  background-color:black;
}
